[Unit]
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/opt/nomad/etc/server/configuration.hcl

[Service]
User=nomad
Group=nomad
ExecStart=/opt/nomad/bin/nomad agent -config=/opt/nomad/etc/server/
ExecReload=/opt/nomad/bin/nomad reload
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target